/*///same that about section/////*/
.contact{
    .content{
        section.row{
            div{
                &.title{
                    text-align: right !important;
                    h2{
                        @media (max-width: $mobile){
                           font-size: 0.7rem; 
                        }
                    }
                }
                padding-left: $paddingGeneral_Tablet;
                padding-right: $paddingGeneral_Tablet;
            }
        }
        address{
            margin-top: -11px;
            @media (max-width: $tablets){
                margin-top: -15px;
            }
            p{
                display: block;
                clear:both;
                @media (max-width: $mobile){
                       font-size: 0.8rem !important; 
                    }
                span{
                    margin-bottom: 20px;
                }
                a{
                  
                    &:hover{
                        border-width: 0px 0px 1px 0px;
                        border-style: solid;
                        border-color: #4d4d4d;
                    }
                }
            }
        }
    }
}

.mail_icon{
    @include icons("mail");
}

.phone_icon{
    @include icons("phone");
}

.whats_icon{
    @include icons("whatsapp");
}

.tele_icon{
    @include icons("telegram");
}

.mail_icon, .phone_icon, .whats_icon, .tele_icon{
    width: 19px;
    height: 19px;
    margin-right: 7px;
    opacity: 0.8;
    @media (max-width: $mobile){
        width: 16px;
        height: 16px;
    }
}

